<h1 style="color: rgb(49, 65, 82); text-align:center" class="mt-4">Transaction History</h1>

<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transaction">
            <th>{{t.Type}}</th>
            <td>{{t.Amount}}</td>
        </tr>
        <!-- <tr>
            <th>Debit</th>
            <td>1000</td>
        </tr> -->
    </tbody>
</table>
<button style="margin-left:580px;" class="p-1 btn btn-outline-info mt-5">
    <a style="text-decoration: none; color: black; " routerLink="/dashboard">Back to home</a></button>
